.header{
    display: flex;
    border-bottom: 2px solid black;
    border-radius: 20px;
}
.logo{
    display: flex;
}
.logo p{
    margin-top: 35px;
    font-size: 30px;
}
.firstPart{
    color: rgb(108, 247, 108);
}
.secondPart{
    color: rgb(87, 87, 224);
}
.thirdPart{
    color: orange;
}
.logo img{
    height: 100px;
    width: 100px;
    margin-left:30px;
    margin-top: 8px;
}
.friendInfo{
    margin-top: 45px;
    margin-left: 600px;
}
.friendInfo a{
    margin-right: 70px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
}
.friend{
    border:1px solid rgb(108, 247, 108);
}
.salary{
    border:1px solid rgb(87, 87, 224);
}
.location{
    border:1px solid orange;
}
.friend:hover{
    background-color: rgb(108, 247, 108);
}
.salary:hover{
    background-color: rgb(87, 87, 224);
}
.location:hover{
    background-color: orange;
}